
@import '@riapacheco/yutes/main.scss';
@import '@riapacheco/yutes/inter-mixins.scss';
@import 'scss/variables.scss';

* { -webkit-font-smoothing: antialiased !important; }
html {
  font-size: 14px;
  background-color: #FAFAFA;
}
body {
  font-size: 1rem;

}
html, body {
  color: $black;
}

