
@import '@riapacheco/yutes/main.scss';
@import '@riapacheco/yutes/inter-mixins.scss';
@import 'scss/variables.scss';

* { -webkit-font-smoothing: antialiased !important; }
html {
  font-size: 13px;
  background-color: #FAFAFA;
}
body {
  font-size: 1rem;

}
html, body {
  color: $black;
}

code {
  font-size: 1.1rem;
  font-weight: 600;
}
p {
  line-height: 1.6 !important;
}

